.commonHeadLine{
    height:50px;
    background: url('~@/assets/img/common/titleIcon.png') no-repeat;
    background-size: 395px 36px;
    padding-left: 68px;
    background-position: left bottom;
    font-size: 24px;
    font-family: 'PangMenZhengDao';
    color: #FFFFFF;
    line-height: 59px;

}